@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");

:root {
  --base-color: #344e41;
  --sub-base-color: #588157;
  --sub-color: #a3b18a;
  --text-color: #dad7cd;
  --base-p-fs: calc(1rem + 1vw);
  --base-header-fs: calc(1.1rem + 1.2vw);
  --app-h2-fs: calc(0.6rem + 0.6vw);
  --logo-width: max(35px, 30%);
  --base-header-ff: "Hind", sans-serif;
  --base-paragraph-ff: "Zilla Slab", sans-serif;
  --base-margin: 0.2em 0.6em;
  --box-shadow: 5px 10px 30px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

#hero-section {
  height: 100vh;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6%;
  background-color: var(--base-color);
}

#left-nav {
  height: 100%;
  margin: var(--base-margin);
  display: grid;
  align-items: center;
}

.logo-div {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.logo-img {
  align-self: center;
  justify-self: center;
  width: var(--logo-width);
}

.logo-txt {
  font-family: var(--base-header-ff);
  font-size: calc(1.3rem + 1.2vw);
  color: var(--sub-color);
}

#right-nav {
  height: 70%;
  width: 9%;
  margin: var(--base-margin);
  display: grid;
  align-items: center;
}

.menu-div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.menu-txt {
  font-family: var(--base-paragraph-ff);
  font-size: calc(0.8rem + 0.7vw);
}

.toggle-menu {
  width: 90%;
  height: 80%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: grid;
  justify-items: center;
  align-items: center;
}

.caret {
  border-left: solid 11px transparent;
  border-right: solid 11px transparent;
  border-bottom: solid 11px black;
  height: 0;
  width: 0;
  transition: transform 100ms ease-in-out;
}

/* Javascript style */
.caret-rotate {
  transform: rotate(180deg);
}

.nav-links-container {
  border: 1px solid var(--base-color);
  width: 15%;
  height: 15%;
  position: absolute;
  top: 65px;
  right: 10px;
  background-color: var(--sub-base-color);
  opacity: 0;
  display: none;
  transition: opacity 10s ease-in-out;
}

/* Javascript style */
.visible-dropDown {
  display: grid;
  justify-items: center;
  opacity: 0.9;
}

.nav-links-container a {
  text-decoration: none;
  color: #fff;
}

.nav-link {
  font-size: calc(0.7rem + 0.6vw);
  font-family: var(--base-paragraph-ff);
}

.nav-link:hover {
  border-bottom: 1px solid white;
  scale: 1.1;
}

#hero-container {
  height: 94%;
  background: url(/src/Assets/hero-image.jpg) no-repeat center center/cover;
}
